<%- include('../partials/header') -%>

<div class="container">
  <img src="/images/cumulus24.webp" class="img-thumbnail rounded float-left mr-3 mb-3" style="max-width: 200px"/>
  <h1 id="name"></h1>
  <div id="gender"></div>
  <div id="size"></div>
  <div id="color"></div>
  <div id="material"></div>
  <div id="price"></div>
  <div id="rating"></div>
  <br/>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id 
    laoreet felis, in ultricies erat. Donec eu auctor arcu, tempor tempus 
    dolor. Nunc quam ipsum, sollicitudin sit amet diam in, tempus rhoncus
     sapien. Curabitur tincidunt, ipsum sit amet mattis gravida, nibh nibh
      vehicula sapien, sit amet laoreet risus enim quis est. Mauris eu 
      enim odio. Maecenas congue id leo eu auctor. Aliquam vitae finibus 
      nisl. Quisque consectetur vitae quam id tempus.
  </p>
  <p>
    Praesent vitae ipsum leo. Fusce varius ex metus, eu dignissim arcu 
    tincidunt aliquam. Mauris laoreet at metus sed mollis. Nulla id purus 
    at dolor ornare tincidunt. Curabitur lobortis, velit a venenatis 
    fringilla, enim tortor tincidunt erat, at cursus sapien tellus ac eros.
     Quisque dolor est, feugiat eget ligula a, luctus sollicitudin tortor. 
     Morbi ut turpis facilisis, sodales libero et, vestibulum nunc. Sed 
     mattis turpis eu enim sagittis, eget pretium nulla auctor. Cras vel 
     odio libero. Mauris mattis posuere dapibus. Vivamus tortor lacus, 
     dictum sed tellus non, iaculis posuere lorem. Nulla maximus metus vel
      nibh egestas, posuere dictum ex volutpat. Interdum et malesuada fames 
      ac ante ipsum primis in faucibus. Vestibulum laoreet laoreet purus, 
      non efficitur augue interdum nec. Donec non pulvinar magna. Vestibulum 
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    </p><p>
    Curabitur posuere imperdiet ultricies. Quisque interdum risus velit, id 
    lacinia risus cursus sit amet. Aliquam vitae odio vitae orci auctor 
    suscipit. Integer vitae sapien a felis pulvinar ultrices. Ut sed cursus 
    nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
     per inceptos himenaeos. Mauris facilisis augue quis massa ultrices dapibus. 
     Nunc posuere eros sit amet ante egestas sodales.
  </p>

  <div id="save-shoe-container">
    
  </div>
  
</div>

<script>
  $(document).ready(function() {
    showShoe(); // get user information to fill up the forms
  });
</script>

<%- include('../partials/footer') -%>
